.menu
{
    -fx-padding: 5 80 0 20;
}

.menu-bar
{
    -fx-border-radius: 50px;
    -fx-background-color: null;
    -fx-font-family: "MV Boli";
    -fx-font-size: 16px;
    -fx-alignment: Center;
    -fx-opacity: 0.7;
}

.context-menu {
    -fx-background-color: null;
    -fx-padding:5px 0px 0px 0px;
}

.menu-item
{
    -fx-background-radius: 180px;
    -fx-padding:0px 0px 0px 0px;
}

.menu-bar .label
{
    -fx-text-fill: white;
}

.menu-bar .menu-button:hover, .menu-bar .menu-button:showing{
    -fx-background-color: null;
}

.menu-bar .menu-button:hover .label, .menu-bar .menu-button:showing .label{
    -fx-text-fill: #2fff00;
    -fx-background-color: null;
}

.menu-bar .menu-button .menu-item:hover .label
{
    -fx-text-fill: #2fff00;
}

.menu-bar .menu-button .menu-item
{
    -fx-background-color: black;
    -fx-opacity: 0.7;
    -fx-padding: 10px;
    -fx-background-insets: 5px

}

.menu-bar .menu-button .menu-item .label
{
    -fx-text-fill: white;
    -fx-padding: 10;
}



#animationLabel
{
    -fx-font-family: "MV Boli";
    -fx-text-fill: #7e0000;
    -fx-font-size: 16px;
    -fx-alignment: Center;
}

#background
{
    -fx-background-color: black;
}
#background
{
    -fx-background-color: black;
}

.menu-bar
{
    -fx-border-radius: 50px;
    -fx-background-color: null;
    -fx-font-family: "MV Boli";
    -fx-font-size: 16px;
    -fx-alignment: Center;
    -fx-opacity: 0.7;
}

.menu-bar .label
{
    -fx-text-fill: white;
}

.menu-bar .menu-button:hover, .menu-bar .menu-button:showing{
    -fx-background-color: null;
}

.menu-bar .menu-button:hover .label, .menu-bar .menu-button:showing .label{
    -fx-text-fill: #2fff00;
    -fx-background-color: null;
}

.menu-bar .menu-button .menu-item:hover .label
{
    -fx-text-fill: #2fff00;
}

.menu-bar .menu-button .menu-item
{
    -fx-background-color: black;
    -fx-opacity: 0.7;
    -fx-padding: 10px;
    -fx-background-insets: 5px

}

.menu-bar .menu-button .menu-item .label
{
    -fx-text-fill: white;
    -fx-padding: 10;
}


.context-menu {
    -fx-background-color: null;
    -fx-padding:5px 0px 0px 0px;
}

.menu-item
{
    -fx-background-radius: 180px;
    -fx-padding:0px 0px 0px 0px;
}

.menu
{
    -fx-padding: 5 80 0 20;
}



#animationLabel
{
    -fx-font-family: "MV Boli";
    -fx-text-fill: #7e0000;
    -fx-font-size: 16px;
    -fx-alignment: Center;
}