#browser
{
    -fx-opacity: 0;
}

.label, #loginLabel{
    -fx-background-color:
            linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
            linear-gradient(#020b02, #3a3a3a),
            linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
            linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
            linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
    -fx-padding: 5 20 5 20;
    -fx-font-family: "Helvetica";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
    -fx-pref-width: 250px;
    -fx-pref-height: 30px;
    -fx-alignment: center;
}

#makeConnectionButton {
    -fx-background-color:
            linear-gradient(#ffd65b, #e68400),
            linear-gradient(#ffef84, #f2ba44),
            linear-gradient(#ffea6a, #efaa22),
            linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}

.text-field {
    -fx-background-color: linear-gradient(#4d392a, #7a7878);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-pref-width: 150px;
}

.button, .combo-box .list-cell {
    -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75),
            linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 5 10 5 10;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

#background
{
    -fx-background-color: black;
}


