.button
{
    -fx-background-color: black;
    -fx-font-family: "MV Boli";
    -fx-text-fill: white;
    -fx-font-size: 16px;

}

#slider, #comboBox, #background
{
    -fx-background-color: black;
}


#label
{
    -fx-text-fill: green;
    -fx-background-color: black;
}